.navbar-custom {
    background-color:#ffffff;
    color:#000000;
    border-radius:0;
    border-bottom:2px solid black;
}

.navbar-custom .navbar-nav > li > a {
    color:#000000;
}

.navbar-custom .navbar-nav > .active > a {
    color: #000000;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #ffa500;
}

.navbar-custom .navbar-brand {
    color:#000000;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

.exampleCode {
    width:100%;

    background-color:#f5f5f5;
    border: none;
    outline: none;
    resize: none;
    padding-top: 5px;
    margin-bottom: 16px;



}