<html>

<head>
    <title>Learn FHIR- Basic Hands-On</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../index.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- AngularJS used for interaction-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
        var app = angular.module("HandsOnFHIR", []);
        app.controller("server", function ($scope, $http) {
            // variables we need
            $scope.JSONResponse = "JSON Response will be shown here...";
            // function that calls the REST service and updates the JSONResponse variable

            $scope.sendFhir = function (url) {
                $http({
                    method: 'GET',
                    url: url,
                    headers : {
                        Accept: "application/json",
                    }
                }).then(function successCallback(response) {
                    // this callback will be called asynchronously
                    // when the response is available
                    $scope.JSONResponse = JSON.stringify(response.data,null,2)
                    }, function errorCallback(response) {
                        $scope.JSONResponse = "There was an error in the request.This was the Response:"+JSON.stringify(response,null,2)
                });

                $scope.JSONResponse = $scope.resource + $scope.name
                    }
        });;
    </script>

</head>


<body>

    <!-- basic header -->

    <div class="container">
        <nav class="navbar navbar-custom">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">LearnFHIR - Introduction</span>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../../../index.html">Home</a></li>
                    <li><a href="http://github.com/learnfhir" target="_blank">GitHub</a></li>
                    <li><a href="../../pages/references/references.html">References</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- main content -->

        <div class="container" ng-app="HandsOnFHIR" ng-controller="server">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-init="server.name='https://sb-fhir-stu3.smarthealthit.org/smartstu3/open/'">
                            <h5>Select a FHIR server to query:</h5>
                            <div class="col-md-3">
                                <input checked default type="radio" name="server" ng-model="server.name" value="https://sb-fhir-stu3.smarthealthit.org/smartstu3/open/" class="serverSel"> Smart Health IT STU3<br>
                            </div>
                            <div class="col-md-3">
                                <input checked default type="radio" name="server" ng-model="server.name" value="https://syntheticmass.mitre.org/fhir/" class="serverSel"> Synthea<br>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" name="server" ng-model="server.name" value="https://open-ic.epic.com/FHIR/api/FHIR/DSTU2/" class="serverSel"> Open Epic
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div ng-init="server.resource='Patient'">
                            <h5>Select a FHIR Resource to query:</h5>
                            <div class="col-md-3">
                                <input checked type="radio" ng-model="server.resource" name="resource" value="AllergyIntolerance" class="resourceSel">  Allergy / Intolerance<br>
                                <input type="radio" ng-model="server.resource" name="resource" value="Condition" class="resourceSel">  Condition<br>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" ng-model="server.resource" name="resource" value="DiagnosticReport" class="resourceSel">  Diagnostic Report<br>
                                <input type="radio" ng-model="server.resource" name="resource" value="Immunization" class="resourceSel">  Immunization<br>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" ng-model="server.resource" name="resource" value="Observation" class="resourceSel">  Observation<br>
                                <input type="radio" ng-model="server.resource" name="resource" value="Patient" class="resourceSel">  Patient<br>
                            </div>
                        </div>
                        <br>
                        <br>
                        <hr>
                        <h5>Query</h5>
                        <p>Each Resource type has its own set of search parameters which can be added to the end of the URL using the following format:</p>
                        <code>http://[server-name]/[FHIR-resource]</code>  <code>?</code>  <code>[search-type]=[value-to-search-for]</code>
                        <br><br>
                        <p>
                            Example:<br><br>
                            <code>http://leanrfhir.aidbox.io/fhir/Patient?family=smith</code>
                            <br><br>
                            The example above tells the FHIR server to search for all Patient resources with the family name "Smith"
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="input-group">
                    <input readonly type="text" id="FHIRurl" class="form-control" ng-value="server.name+server.resource">
                    <span class="input-group-btn">
                        <button ng-click="sendFhir(server.name+server.resource)" class="btn btn-primary">Send FHIR Request</button>
                    </span>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>FHIR Server Response</h4>
                <pre class="pre-scrollable"  ng-bind="JSONResponse"></pre>
            </div>
        </div>
    <!-- end of NG-app -->

    </body>
</html>
